.buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

button {
    margin: 100px;
    transform: scale(3);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}